<div class="oj-hybrid-padding">
    <br>
    <form id="register">
    <oj-input-text id="username" label-hint="username" value="{{userName}}"></oj-input-text>
    <br><br>
    <oj-input-password id="password" label-hint="password" value="{{password}}"></oj-input-password>
    <br><br>
    <oj-input-text id="firstName" label-hint="First Name" value="{{firstName}}"></oj-input-text>
    <br><br>
    <oj-input-text id="lastname" label-hint="Last Name" value="{{lastName}}"></oj-input-text>
    <br><br>
    <oj-input-text id="email" label-hint="email" value="{{email}}"></oj-input-text>
    <br><br>
    <oj-button data-bind="click: registerClick">Register</oj-button>
    </form>
</div>